body {
  margin: 0;
  font-family: Arial;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #2c3e50;
  color: white;
  position: fixed;
  padding: 15px;
}

.sidebar button {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  background: #34495e;
  color: white;
  border: none;
  cursor: pointer;
}

.content {
  margin-left: 240px;
  padding: 20px;
}

.hidden {
  display: none;
}

.card {
  background: #f1f1f1;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}

.login-body {
  background: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 30px;
  width: 300px;
  text-align: center;
}
