body {
  font-family: Arial;
  background: #f0f8ff;
  padding: 20px;
}

h2, h3 {
  color: #2E8B57;
}

button {
  background-color: #2E8B57;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3CB371;
}

input, select {
  padding: 5px;
  margin: 5px;
}
